/* 載入字形 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* 設定設計稿色票變數 */
:root {
  /* Primary */
  --color-primary-50: #fdf7f1;
  --color-primary-100: #fde6cf;
  --color-primary-500: #f5b87b;
  --color-primary-900: #24140b;

  /* Neutral */
  --color-neutral-0: #ffffff;
  --color-neutral-500: #737373;
  --color-neutral-700: #404040;
  --color-neutral-900: #1e1e1e;

  /* Dark */
  --color-dark-40a: rgba(0, 0, 0, 0.4);
  --color-dark-60a: rgba(0, 0, 0, 0.6);

  --column: 12;
  --gutter: 24px;
}

/* 全域通用設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
  /* !!!!!!!!!!!!!!! */
}

body {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: "Noto Sans", sans-serif;
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  border: none;
}

textarea {
  resize: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  /* 繼承父層顏色 */
}


/* google icon 預設設定 */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px;
  display: block;
}


/* 設計稿字型 class 設定 */
/* ----------- */

/* Display - font-weight: 700 */
.display-1 {
  font-size: 300px;
  font-weight: 700;
  line-height: 1.2;
}

.display-2 {
  font-size: 160px;
  font-weight: 700;
  line-height: 1.2;
}

/* Heading - font-weight: 700 */
.heading-xxxl {
  /* font-size: 80px; */
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
}

.heading-xxl {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.heading-xl {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.heading-lg {
  font-size: 32px;
  font-weight: 700;
}

.heading-md {
  font-size: 28px;
  font-weight: 700;
}

.heading-sm {
  font-size: 24px;
  font-weight: 700;
}

.heading-xs {
  font-size: 20px;
  font-weight: 700;
}

.heading-xxs {
  font-size: 18px;
  font-weight: 700;
}

.heading-xxxs {
  font-size: 16px;
  font-weight: 700;
}

.heading-xxxxs {
  font-size: 14px;
  font-weight: 700;
}

/* Label - font-weight: 500 */
.label-md {
  font-size: 16px;
  font-weight: 500;
}

.label-sm {
  font-size: 14px;
  font-weight: 500;
}

.label-xs {
  font-size: 13px;
  font-weight: 500;
}

/* Paragraph - font-weight: 500 */
.paragraph-md {
  font-size: 16px;
  font-weight: 500;
}

.paragraph-sm {
  font-size: 14px;
  font-weight: 500;
}

.paragraph-xs {
  font-size: 13px;
  font-weight: 500;
}


/* Functional 操作類 */
.btn-m {
  padding: 12px 24px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
}

.btn-s {
  padding: 12px 20px;
  border-radius: 999px;
}

/* utility class 通用設定 */
/* ----------- */

.relative {
  position: relative;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-10 {
  gap: 10px;
}

.gap-24 {
  gap: 24px;
}

.gap-60 {
  gap: 60px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.min-w-0 {
  min-width: 0;
}

.min-h-0 {
  min-height: 0;
}

.overflow-x-auto {
  overflow-x: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-4 {
  margin-right: 4px;
}

.mr-24 {
  margin-right: 24px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-92 {
  margin-bottom: 92px;
}

.m-auto {
  margin: auto;
}

.pl-28 {
  padding-left: 28px;
}

.pr-16 {
  padding-right: 16px;
}

.pb-12 {
  padding-bottom: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-24 {
  padding: 24px;
}

.p-40 {
  padding: 40px;
}

.bg-neutral-0 {
  background-color: var(--color-neutral-0);
}

.bg-neutral-700 {
  background-color: var(--color-neutral-700);
}

.bg-primary-50 {
  background-color: var(--color-primary-50);
}

.bg-primary-900 {
  background-color: var(--color-primary-900);
}

.bg-transparent {
  background-color: transparent;
}

.text-neutral-0 {
  color: var(--color-neutral-0);
}

.text-neutral-700 {
  color: var(--color-neutral-700);
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.bg-cover-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-circle {
  border-radius: 999px;
}

.btn-outline {
  border: 1px solid currentColor;
}

.focus-outline-0:focus-visible {
  outline: 0;
}

.line-height-1 {
  line-height: 1;
}

/* 隱藏捲軸寬度 */
.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    /* Safari 專用 */
  }
}

.z-1 {
  z-index: 1;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* container 設定 */

.container {
  max-width: 1320px;
  padding: 0px 12px;
  margin: auto;
}

/* helper 設定 */
.sticky-top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}


/* 格線系統設定 */
/* 網格欄寬計算公式：(容器寬度 - 所有 gutter) / 總欄數 * 佔用欄數 + 欄內 gutter */
/* gutter 總寬 = 24px * 11（12欄之間共 11 個間距） */

.col-2 {
  --span: 2;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-3 {
  --span: 3;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-4 {
  --span: 4;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-5 {
  --span: 5;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-7 {
  --span: 7;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-8 {
  --span: 8;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-10 {
  --span: 10;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

.col-12 {
  --span: 12;
  --gap-count: calc(var(--span) - 1);
  width: calc((100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * (var(--gap-count)));
}

@media (max-width: 992px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .flex-md-col {
    flex-direction: column;
  }

  .flex-none {
    flex: none;
  }

  .gap-md-0 {
    gap: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .w-md-full {
    width: 100%;
  }

  .col-md-12 {
    width: 100%;
  }

  .heading-mobile-xxxxs {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
  }

  .heading-mobile-sm {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
  }

  .heading-mobile-xl {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
  }

  .label-mobile-sm {
    font-size: 14px;
    font-weight: 500;
  }

  .paragraph-mobile-sm {
    font-size: 14px;
    font-weight: 500;
  }

  .mb-md-0 {
    margin-bottom: 0px;
  }

  .mb-md-12 {
    margin-bottom: 12px;
  }

  .mb-md-24 {
    margin-bottom: 24px;
  }

  .mb-md-32 {
    margin-bottom: 32px;
  }

  .mr-md-12 {
    margin-right: 12px;
  }

  .mx-md--12 {
    margin-left: -12px;
    margin-right: -12px;
  }

  .pb-md-16 {
    padding-bottom: 16px;
  }

  .px-md-16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .py-md-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .py-md-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .p-md-24 {
    padding: 24px;
  }

  .btn-md-s {
    padding: 12px 20px;
    border-radius: 999px;
  }

  .overflow-x-auto {
    overflow-x: auto;
  }
}