.nav-list {
    display: flex;
}

.nav-item.active,
.nav-item:hover {
    background-color: var(--color-primary-900);
    color: var(--color-neutral-0);
}

.nav-link {
    text-align: center;
}

@media (max-width: 992px) {
    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: var(--color-primary-50);
        gap: 12px;
        padding: 12px 0px;
    }

    body.menu-open {
        overflow: hidden;
    }

    body.menu-open .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-dark-60a);
        z-index: 998;
    }
}

.tab-item{
    text-align: center;
    color: var(--color-primary-700)#fff;
    min-width: min-content;
}

.tab-item.active, .tab-item:hover{
    background-color: var(--color-primary-900);
    color: var(--color-neutral-0);
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto 0;
    flex: 1;
    color: var(--color-neutral-700);
}

.banner{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/blog_banner.png?raw=true");
    height: 380px;
}

.banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-40a);
    position: absolute;
    top: 0;
    left: 0;
}

.page .active{
    background-color: var(--color-neutral-700);
    color: var(--color-neutral-0);
    border-radius: 999px;
}


.subscriptions {
    position: relative;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/subscription_bg.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subscriptions::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-60a);
    position: absolute;
    top: 0;
    left: 0;
}

.contact-input-half {
    --gap: 24px;
    width: calc((100% - var(--gap)) / 2);
}

@media (max-width: 992px) {
    .contact-input-half {
        width: 100%;
    }
}