.tab-item{
    text-align: center;
    color: var(--color-primary-700)#fff;
}

.tab-item.active, .tab-item:hover{
    background-color: var(--color-primary-900);
    color: var(--color-neutral-0);
}

.tab-link{
    display: block;
    padding: 12px 0;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto 0;
    flex: 1;
    color: var(--color-neutral-700);
}
